/* Стилі для лічильника для кольору фону */

.work__color {
}
.work__color:not(:last-child) {
	margin-bottom: 1.875rem;
}
.color__container {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.color__title {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 120%;
	color: #333;
}
.color__title:not(:last-child) {
	margin-bottom: 0.625rem;
}
.color__item:not(:last-child) {
	margin-bottom: 0.9375rem;
}
.color__input {
	cursor: pointer;
}
.color__counter {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 120%;
	color: #333;
}
