/* Стилі для повідомлення про те, скільки хвилин залишилось до початку робочого дня (початок о 8.00). */

.work__message:not(:last-child) {
	margin-bottom: 1.875rem;
}
.message {
	padding: 20px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: inline-block;
	font-size: 18px;
	color: #333;
}
 
.good-morning {
	color: #28a745;
}
 
.not-working-time {
	color: #ff6347;
}
 